body{
    text-align: center;
}
table {
   width: 400px;
    padding: 10px;
    margin: 0 auto;
   
}

thead {
    background-color: lightblue;
}
tbody {
    background-color:aliceblue;
}