h2{
    background-color: lightblue;
}
nav{
    text-decoration: none;
   display: flex;
   padding: 20px;
   justify-content: space-around;
   background-color: rgb(185, 216, 243);
   }
  
   
   a{
    text-decoration: none;
   }
   a:hover{
    color: royalblue;
   }
  .bx-footer {
    text-align: center;
    padding: 10px;
    margin-top: 250px;
    background-color: rgb(185, 216, 243);
  }